@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


.hidden {
  opacity: 0;
}

.console-container {
  /* font-family:Khula; */
  font-family: 'Fredoka', sans-serif;
  font-size: 6em;
  text-align: center;
  height: 120px;
  width: 100%;
  display: block;
  /* position:absolute; */
  color: red !important;
  /* top:0;
  bottom:0;
  left:0;
  right:0; */
  margin: auto;
}

#text {
  color: rgb(248, 14, 14) !important;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media (max-width: 640px) {
  .console-container {
    font-size: 2em;
    height: 50px;
  }
}

@media (min-width: 640px) {
  .console-container {
    font-size: 3em;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .console-container {
    font-size: 4em;
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .console-container {
    font-size: 5em;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .console-container {
    font-size: 6em;
    height: 120px;
  }

  /* .console-container {
    margin: auto;
  } */
}