.footer{
    width: 100%;
    height: 300px;
    background-color: #660E04;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.social-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    cursor: pointer;
}

.facebook.social-icon:hover svg path {
    fill: black; /* Change this to the color you want on hover */
    transition: 0.5s;
}

.instagram.social-icon:hover svg path {
    fill: black; /* Change this to the color you want on hover */
    transition: 0.5s;
}

.tiktok.social-icon:hover svg path {
    stroke: black; /* Change this to the color you want on hover */
    transition: 0.5s;
}

.social-icon:hover .social_name {
    color: black; /* Thay thế #your-hover-color bằng màu bạn muốn khi hover */
    transition: 0.5s;
  }

  .social_name{
    font-family: "Raleway", sans-serif;
    letter-spacing: 0/5px;
  }