/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


.music-container {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  position: relative;
  margin: 100px 0;
  z-index: 9999;
}

.img-container {
  position: relative;
  width: 70px;
  z-index: 9999;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: inherit;
  position: absolute;
  top: -30px;
  left: 0;
  animation: rotateImage 20s linear infinite;
  animation-play-state: paused;
}

.img-container::after {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  bottom: 70%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, 50%);
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 200px;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:focus {
  outline: none;
}

.action-btn:hover, .action-btn.action-btn-big:hover {
  color: #fe8daa;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.music-info {
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  top: 0;
  left: 20px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-35%);
}

.music-info h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
} */

.music_container{
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.music-cover{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  animation: rotateImage 20s linear infinite;
  animation-play-state: paused;
}

.music-cover.play {
  animation-play-state: running;
}

.music-cover.pause {
  animation-play-state: paused;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.play-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot{
  background-color: white;
  width: 15px;
  height: 15px;
  z-index: 9999;
  position: absolute;
  top: 40%;
  border-radius: 50%;
}

.backward-btn:hover svg path {
  fill: red; /* Change this to the color you want on hover */
}

.forward-btn:hover svg path {
  fill: red; /* Change this to the color you want on hover */
}
