@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

.gridgift_container{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 30px 0px;
}

.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   width: 30%;

   margin-top: 20px;
   grid-gap: 20px;
}

.angry-grid1 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   width: 30%;

   margin-top: 20px;
   grid-gap: 20px;
}

.angry-grid2 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   width: 30%;

   margin-top: 20px;
   grid-gap: 20px;
}

.angry-grid3 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   width: 30%;

   margin-top: 20px;
   grid-gap: 20px;
}
  
.item-0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;

   font-size: 1.4rem;
   box-shadow: 1rem 2rem 3rem rgba(#000, .25);
   text-align: center;
   position: relative;
   color: #484e4a;
   border-radius: 10%;
   cursor: pointer;   
}
.item-1 {

   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-2 {

   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-3 {

   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-4 {

   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-5 {

   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}

.item-6 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}

.item-7 {

   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}

.item-8 {

   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}

.item-9 {

   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}

.item-10 {

   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-11 {

   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}

.item-12 {

   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}

.item-13 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-14 {

   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-15 {

   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-16 {

   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}
.item-17 {

   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}
.item-18 {

   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}
.item-19 {

   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}

.item-20 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-21 {

   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-22 {

   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-23 {

   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}
.item-24 {

   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}
.item-25 {

   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   cursor: pointer;
   border-radius: 10px;
}
.item-26 {

   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   cursor: pointer;
   border-radius: 10px;
}
.item-27 {

   background-color: #FEA5CD; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   cursor: pointer;
   border-radius: 10px;
}

.layer1{
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 20px;
}

.page {
   width: 100%;
   height: 100%;
   perspective: 1500px;
   cursor: pointer;
}

.page__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(39, 34, 19);
   /* background-color: #110404; */
   background-image: url("../../public/img/bg3.svg");
   color: #fff;
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 1;
   transition: all 1s 0.3s;
   transform-origin: 0 50%;
   z-index: 2;
   border-radius: 10px;
}

.page__1 .number{
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Fredoka', sans-serif;
}

.page__1::after {
   color: #eff0eb;
   position: absolute;
   padding-top: 1.5rem;
   top: 0;
   left: 0;
   background-color: #424B54;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0;
   transform: rotateY(180deg);
   transition: all 0.3s 0.5s;
}


.page__2 {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 1;
   border-radius: 10px;
}

.page:hover .page__1 {
   transform: rotateY(-100deg);
   box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}

.page:hover .page__1::after {
   opacity: 1;
}

.box_image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

  


