.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   width: 25%;

   margin-right: 10px;
}
  
.item-0 {

   background-color: #DB6ED9; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
.item-1 {

   background-color: #AB9B6D; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
.item-2 {

   background-color: #7F5EB9; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}
.item-3 {

   background-color: #8D97BB; 
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
.item-4 {

   background-color: #A59CBA; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   
}
.item-5 {

   background-color: #9F7858; 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   
}