@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

.giftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}



/*START: CSS GIFT BOX */
.box {
  position: relative;
  width: 18em;
  height: 18em;
  cursor: pointer;
  z-index: 2;
  /* Ensure .box is above .cards */
}

.box-tape,
.box-tape-left,
.box-tape-right,
.box-tape-center,
.box-gifts,
.box-gift-shadow,
.box-gift,
.box-star {
  position: absolute;
}

.box-tape-center,
.box-tape-left,
.box-tape-right {
  background-color: #cc2424;
}

.box-tape {
  animation: bTape 1.5s ease-in-out infinite;
  bottom: 11em;
  left: 7.5em;
  width: 3em;
  height: 2em;
  transform-origin: 50% 230%;
}

.box-tape-center {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.box-tape-left,
.box-tape-right {
  box-shadow: 0 0 0 0.7em #ee2e2e inset;
  top: 0.3em;
  width: 4em;
  height: 5em;
  z-index: -1;
}

.box-tape-left::before,
.box-tape-right::before {
  background-color: #ee2e2e;
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.box-tape-left {
  animation: bLeft 1.5s ease-in-out infinite;
  border-radius: 1.5em 0 3em 1em/1.5em 0 3em 3.5em;
  right: calc(100% - 0.75em);
  transform: rotate(35deg);
  transform-origin: 100% 15%;
}

.box-tape-left::before {
  clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.box-tape-right {
  animation: bRight 1.5s ease-in-out infinite;
  border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
  left: calc(100% - 0.75em);
  transform: rotate(-35deg);
  transform-origin: 0% 15%;
}

.box-tape-right::before {
  clip-path: polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
}

.box-gifts,
.box-gift,
.box-gift-shadow {
  transform-origin: 50% 100%;
}

.box-gifts {
  animation: box-Bounce 1.5s ease-in-out infinite;
  /* background: linear-gradient(#cc2424, #cc2424) 50% 50% /3.3em 100% no-repeat, #dfd9d9; */
  background: linear-gradient(#cc2424, #cc2424) 50% 50% /3.3em 100% no-repeat,url('https://media.istockphoto.com/id/1875855830/vi/vec-to/li%E1%BB%81n-m%E1%BA%A1ch-k%E1%BA%BB-s%E1%BB%8Dc-xanh-s%E1%BB%8Dc-l%C3%A1t-g%E1%BA%A1ch-l%E1%BA%B7p-l%E1%BA%A1i-m%C3%B4-h%C3%ACnh-n%E1%BB%81n-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-ng%C3%A0y-th%C3%A1nh-patrick.jpg?s=2048x2048&w=is&k=20&c=BXRyTspFpYst9sajIzbwmKm3-awzT0sjQ5aym1RJNic=') 100% 100% /9rem 100%;
  border-radius: 1.5em;
  bottom: 0.5em;
  left: 3.3em;
  overflow: hidden;
  width: 11.4em;
  height: 9em;
  background-position: center;
}

.box-gift,
.box-gift-shadow {
  border-radius: 1em;
  width: 13em;
  height: 3.3em;
}

.box-gift {
  animation: box-Bounce2 1.5s ease-in-out infinite;
  background: linear-gradient(#ee2e2e, #ee2e2e) 50% 50% /3.3em 100% no-repeat, url('https://media.istockphoto.com/id/1875855830/vi/vec-to/li%E1%BB%81n-m%E1%BA%A1ch-k%E1%BA%BB-s%E1%BB%8Dc-xanh-s%E1%BB%8Dc-l%C3%A1t-g%E1%BA%A1ch-l%E1%BA%B7p-l%E1%BA%A1i-m%C3%B4-h%C3%ACnh-n%E1%BB%81n-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-ng%C3%A0y-th%C3%A1nh-patrick.jpg?s=2048x2048&w=is&k=20&c=BXRyTspFpYst9sajIzbwmKm3-awzT0sjQ5aym1RJNic=') 100% 100% /10rem 300%;
  bottom: 8.7em;
  left: 2.5em;
}

.box-gift-shadow {
  animation: boxShadowBounce 1.5s ease-in-out infinite;
  background-color: #00000010;
  top: -1.5em;
  left: -1em;
}

.box-star {
  animation: starRotate1 1.5s ease-in-out infinite;
  background-color: #fcff50;
  clip-path: polygon(50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%, 35% 35%);
  transform: scale(0);
}

.box-star-2,
.box-star-4,
.box-star-5 {
  animation-name: starRotate2;
}

.box-star-1 {
  animation-delay: calc(1.5s * 0.5);
  top: 0;
  left: 12.5em;
  width: 1.5em;
  height: 1.5em;
}

.box-star-2 {
  animation-delay: calc(1.5s * 0.125);
  top: 2em;
  left: 10em;
  width: 1.75em;
  height: 1.75em;
}

.box-star-3 {
  animation-delay: calc(1.5s * 0.25);
  top: 8em;
  left: 0;
  width: 1.25em;
  height: 1.25em;
}

.box-star-4 {
  top: 10.5em;
  left: 0;
  width: 1.75em;
  height: 1.75em;
}

.box-star-5 {
  animation-delay: calc(1.5s * 0.375);
  top: 12em;
  left: 1.8em;
  width: 2.5em;
  height: 2.5em;
}

@keyframes bTape {

  from,
  50% {
    transform: translateY(0) rotate(0);
  }

  62.5% {
    transform: translateY(75%) rotate(0);
  }

  68.75% {
    transform: translateY(-37.5%) rotate(15deg);
  }

  75% {
    transform: translateY(-150%) rotate(5deg);
  }

  87.5% {
    transform: translateY(65%) rotate(-3deg);
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bLeft {

  from,
  50% {
    transform: rotate(35deg);
  }

  62.5% {
    transform: rotate(45%);
  }

  75% {
    transform: rotate(30%);
  }

  87.5% {
    transform: rotate(45%);
  }

  to {
    transform: rotate(35deg);
  }
}


@keyframes bRight {

  from,
  50% {
    transform: rotate(-35deg);
  }

  62.5% {
    transform: rotate(-45%);
  }

  75% {
    transform: rotate(-35%);
  }

  87.5% {
    transform: rotate(-45%);
  }

  to {
    transform: rotate(-35deg);
  }
}

@keyframes box-Bounce {

  from,
  50% {
    transform: translateY(0) scale(1, 1);
  }

  62.5% {
    transform: translateY(4%) scale(1.12, 0.89);
  }

  75% {
    transform: translateY(-11%) scale(0.92, 1.1);
  }

  87.5% {
    transform: translateY(0) scale(1.05, 0.9);
  }

  to {
    transform: translateY(0) scale(1, 1);
  }
}

@keyframes box-Bounce2 {

  from,
  50% {
    transform: translateY(0) scale(1, 1) rotate(0);
  }

  62.5% {
    animation-timing-function: ease-in;
    transform: translateY(45%) scale(1.14, 0.95) rotate(0);
  }

  68.75% {
    animation-timing-function: ease-out;
    transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
  }

  75% {
    animation-timing-function: ease-out;
    transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
  }

  87.5% {
    transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
  }

  to {
    transform: translateY(0) scale(1, 1) rotate(0);
  }
}

@keyframes starRotate1 {
  from {
    transform: scale(0) rotate(0);
  }

  25% {
    animation-timing-function: ease-in-out;
    transform: scale(1) rotate(0.25turn);
  }

  50%,
  to {
    transform: scale(0) rotate(0.5turn);
  }
}


@keyframes starRotate2 {
  from {
    transform: scale(0) rotate(0);
  }

  25% {
    animation-timing-function: ease-in-out;
    transform: scale(1) rotate(-0.25turn);
  }

  50%,
  to {
    transform: scale(0) rotate(-0.5turn);
  }
}

.slide-top {
  animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  /* background-color: #cc2424; */
  animation-delay: 1s;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-5 22:33:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-250px);
    opacity: 1;
  }
}

.scale-up-center {
  position: absolute;
  top: -30%;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  /* animation-delay: 1s; */
  -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  z-index: 1000;
  object-fit: cover;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-6 0:22:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tracking-in-contract {
  position: absolute;
  top: 10%;
  width: 350px;
  font-size: 1.2rem;
  font-family: 'Fredoka', sans-serif;
  color: white;
  animation-delay: 3.5s;
  -webkit-animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  z-index: 1001;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-6 0:49:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.invisible {
  /* display: none; */
  opacity: 0;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-6 10:29:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

