.angry-grid {
   display: grid; 

   grid-template-rows: 4rem auto 45px;
   grid-template-columns: 16rem auto 1fr;
   
   gap: 3px;
   height: 100%;
   
}
  
#item-0 {

   background-color: #a3a3a3; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#item-1 {

   background-color: #385b94; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#item-2 {

   background-color: #d0d9e6; 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-3 {

   background-color: #151127; 
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   
}
#item-4 {

   background-color: #B5B7B9; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#item-5 {

   background-color: #CAFBBB; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}
#item-6 {

   background-color: #5B7F5B; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   
}