@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.magicbg_container {
    width: 100%;
    top: 40%;
    position: absolute;
}

#text_container {
    /* margin: auto; */
    width: 100%;
    /* height: 200px; */
    /* top: 120%;
    top: calc(100vh + 180px); */
    bottom: 0;
    top: 40%;
    color: #090404;
    /* color: white; */
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 120pt;

    text-align: center;

    user-select: none;
}

@media (max-width: 640px) {
    #text1,
    #text2 {
        font-size: 40pt;
    }
}

@media (min-width: 640px) {
    #text1,
    #text2 {
        font-size: 60pt;
    }
}

@media (min-width: 768px) {
    #text1,
    #text2 {
        font-size: 80pt;
    }
}

@media (min-width: 1024px) {
    #text1,
    #text2 {
        font-size: 100pt;
    }
}

@media (min-width: 1200px) {

    #text1,
    #text2 {
        font-size: 120pt;
    }
}