@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


.navbar {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 1.5s;
}

.nav-text a {
    color: white;
    font-size: 24px;
    /* text-transform: uppercase; */
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    transition: 1.5s;
}

.nav-text a:hover {
    color: #090404;
}

.black {
    /* background-color: rgba(255, 30, 0, 0.582); */
    background-color: #660E04;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: 1.5s;
}

.scroll-up {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: auto;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5%;
    bottom: 20%;
    z-index: 100;
    opacity: 0.2;
    cursor: pointer;
}

.scroll-up:hover {
    opacity: 1;
}

.avatar{
    width: 40px;
    height: 40px;
}

.nav-text.main-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar{
    border-radius: 3px;
    border:solid white 2px;
    cursor: pointer;
}